* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color1: #666666;
    --white: #ffffff;
    --dark-purple: #323663;
    --baloo: 'Baloo 2', cursive;
    --light-gray: #757575;
    --light-pink: #fc6c93;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.main {

    background: url(../img/first-bg1.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-family: var(--baloo);
    padding-top: 30px;

}



.header {
    position: sticky;
    top: 0px;
    font-family: var(--baloo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 92px;
    padding: 0 32px;

    margin: 0 auto;
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    transition: all .4s ease;
}

.header-unactive {
    animation-name: header-unactive;
    animation-duration: .4s;
    animation-iteration-count: 1;
    max-width: 1520px;
}

.header-active {
    animation-name: header-active;
    animation-duration: .4s;
    animation-iteration-count: 1;
    border-radius: 0;

    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

@keyframes header-active {
    0% {
        max-width: 1520px;
    }

    100% {
        max-width: 3000px;
    }
}

@keyframes header-unactive {
    0% {
        max-width: 3000px;
    }

    100% {
        max-width: 1520px;
    }
}

.header-items {
    display: flex;
    gap: 5px;
}

.header-items a {
    color: var(--dark-purple);
    padding: 2px 25px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    border-radius: 6px;
}

.header-items a:hover {
    background-color: var(--light-pink);
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 0px 0px inset;

    color: var(--white);
}

.header-right {
    display: flex;
    gap: 10px;
}

.header-right a {
    color: var(--light-pink);
    font-size: 16px;
}

.header-right p {
    color: var(--dark-purple);
    font-size: 22px;
    font-weight: 500;
}

.header-righ .header-right__container {
    display: flex;
    flex-direction: column;
}

.main-info {
    width: 100%;
    max-width: 1520px;

    margin: 0 auto;
    margin-top: 230px;
    padding-bottom: 300px;
}

.main-info h1 {
    color: var(--dark-purple);
    font-size: 70px;
    font-weight: 800;
}

.main-info p {
    color: var(--light-gray);
    line-height: 30px;
    max-width: 466px;
    margin-top: 16px;
}

.main-info a {
    display: block;
    margin-top: 34px;

    background-color: #46c9f3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 0px 0px inset;
    border-radius: 6px;
    padding: 15px 30px;
    width: fit-content;

    color: var(--white);
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;

    transition: .3s ease;
}

.main-info a:hover {
    background: var(--white);
    color: #ee516d;
    box-shadow: rgba(0, 0, 0, 0) 0px -4px 0px 0px inset;
}

.qa {
    padding: 40px 0;
    font-family: var(--baloo);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #485cb4;
}

.qa h2 {
    color: var(--white);
    font-size: 46px;
    line-height: 56px;
}

.qa-container {
    max-width: 900px;
    width: 100%;
    gap: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.qa-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    gap: 20px;
    color: var(--white);
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

.qa-item img {
    max-height: 100px;
}


.suggest {
    padding: 60px 0;
    font-family: var(--baloo);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.suggest h2 {
    color: var(--dark-purple);
    font-size: 46px;
    line-height: 56px;
}

.suggest-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 110px;
    max-width: 1380px;
}

.suggest-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 268px;
    width: 100%;
    min-height: 360px;
}

.suggest-img {
    width: 100%;
    margin-bottom: -5px;
}

.suggest-item__bottom p {

    color: var(--dark-purple);
    margin-right: 20px;

    font-size: 26px;
    line-height: 28px;
}

.suggest-img {
    width: 100%;
    min-height: 150px;

}

#suggest-img1 {
    background: url(../img/suggest1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#suggest-img2 {
    background: url(../img/suggest2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#suggest-img3 {
    background: url(../img/suggest3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#suggest-img4 {
    background: url(../img/suggest4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#suggest-img5 {
    background: url(../img/suggest5.jpg);
    background-repeat: no-repeat;

    background-size: cover;
}

#suggest-img6 {
    background: url(../img/suggest6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.suggest-item__bottom {
    height: 100%;
    padding-top: 30px;
    padding-bottom: 40px;

    background: url(../img/pattern.png) repeat-x 0 0;

}